body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;

}

.container{
    background:green;
    width: min(37em,40%);
    top: 50%;
    padding: 2em;
    border-radius: 10%;
    position: relative;
    
    
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    color: blue;

}

#generateBtn{
    cursor:pointer;
}

#otp{
    font-size: 1.2em;
    background-color: orange;
    color: white;
    margin: 5em auto;
    letter-spacing: 1.4em;
    border-radius: 10%;
    text-align: center;
    padding: 1em 0;
    
}

